.chat-div {
    width: 500px;
    height: 400px;
    margin: 10px;
    background: white;
    border: 1px solid;
    display: inline-block;
}

.chat-div-slim {
    width: 250px;
    height: 400px;
    margin: 10px;
    background: white;
    border: 1px solid;
    display: inline-block;
}


textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none; 
    overflow: auto;
    outline: none;

    text-align: left;
    font-size: 14px;
    font-family: "Arial";
    padding-left: 10px;
    padding-right: 10px;
    line-height: 150%;
}

.input {
    display: inline;
    height:100%;
    text-align: left;
}

#online-users-box {
}

#input-text {
    width: 80%;
}


#input-button-box {
    width: 20%;
}

#send {
    width: 19%;
}

