.chat-div {
    width: 500px;
    height: 400px;

    background: white;
    border: 1px solid;
}

textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none; 
    overflow: auto;

    text-align: right;
}

input {
    width:80%;
    display: inline;
    height:100%;
    text-align: right;
}

