html * {
    font-family: Arial;
}

div {
    display: inline-block;
    border: 1px solid black;
    background-color: lightblue;
    width: 200;

    vertical-align: top;

    text-align: center;
}

input {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}


